@import "tailwindcss";

:root {
  --bg: #f5f3ef;
  --dark: #1e1e20;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f3ef;
  color: #1e1e20;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
